<ul class="main-menu">
    <li>
        <a asp-controller="Home" asp-action="index"><i class="zmdi zmdi-home"></i> Dashboard</a>
    </li>
    <li><a asp-controller="Alerts" asp-action="index"><i class="zmdi zmdi-notifications"></i> Alertes</a></li>
    <li><a asp-controller="Statistics" asp-action="index"><i class="zmdi zmdi-chart"></i> Statistiques</a></li>
    <li><a asp-controller="Classrooms" asp-action="index"><i class="zmdi zmdi-city"></i> Classes</a></li>
    <li><a asp-controller="Schools" asp-action="index"><i class="zmdi zmdi-city-alt"></i> Ecoles</a></li>

    @*<li class="sub-menu">
            <a href="" data-ma-action="submenu-toggle"><i class="zmdi zmdi-assignment-account"></i> Personnes</a>
            <ul>
                <li><a asp-controller="Students" asp-action="index">Etudiant</a></li>
                <li><a asp-controller="Teachers" asp-action="index">Professeur</a></li>
            </ul>
        </li>*@
</ul>