@{
    Layout = null;
}
@model List<SummerCamp.CyberHelp.DataServices.Models.School>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Material Admin</title>
    <link href="~/lib/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link href="~/lib/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">

    <environment names="Development,Staging,Production">
        <link href="~/css/app_1.min.css" rel="stylesheet">
        <link href="~/css/app_2.min.css" rel="stylesheet">
    </environment>
</head>

<body>
    <div class="login-content">
        <!-- Login -->
        <div class="lc-block toggled" id="l-login">
            <div class="lcb-form">
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" placeholder="Utilisateur">
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                    <div class="fg-line">
                        <input type="password" class="form-control" placeholder="Mot de passe">
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="zmdi zmdi-city-alt"></i></span>
                    <div class="fg-line">
                        <select class="form-control">
                            @foreach (var school in Model)
                            {
                                <option id="@school.SchoolID">@school.SchoolName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <i class="input-helper"></i>
                        Garder ma connection
                    </label>
                </div>

                <a href="" class="btn btn-login btn-success btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-arrow-forward"></i></a>
            </div>

        </div>
    </div>

    <!-- Javascript Libraries -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/lib/flot/jquery.flot.js"></script>
    <script src="~/lib/flot/jquery.flot.resize.js"></script>
    <script src="~/lib/flot.curvedlines/curvedLines.js"></script>
    <script src="~/vendors/sparklines/jquery.sparkline.min.js"></script>
    <script src="~/lib/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/fullcalendar/dist/fullcalendar.min.js "></script>
    <script src="~/lib/simpleWeather/jquery.simpleWeather.min.js"></script>
    <script src="~/lib/Waves/dist/waves.min.js"></script>
    <script src="~/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="~/lib/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->

    <script src="~/js/app.min.js"></script>

</body>
</html>